RH/histórico da folha por verbas.xlsx
logística/viagens e CTEs.xlsx
logística/NFs complementares das viagens.xlsx
manutenção/Abastecimentos mai 2022.xlsx
RH/verbas custo MDO.xlsx
logística/CUSTO TMS planilha/provisões.xlsx
logística/CUSTO TMS planilha/pneus.xlsx
logística/CUSTO TMS planilha/manutenção.xlsx
logística/CUSTO TMS planilha/folha.xlsx
logística/CUSTO TMS planilha/diárias.xlsx
logística/CUSTO TMS planilha/depreciação.xlsx
logística/CUSTO TMS planilha/combustível.xlsx
compras/Pedidos de compra 2022 mensal.xlsx
compras/Pedidos de compra 2022 mensal por pedido.xlsx
logística/CUSTO TMS planilha/provisões - Fátima.xlsx
logística/CUSTO TMS planilha/viagens sem receita e sem km.xlsx
logística/base de cálculo seguro de carga clientes safra.xlsx
logística/CUSTO TMS planilha/base de cálculo seguro de carga clientes safra.xlsx
.gitignore
logística/CUSTO TMS planilha/base viagens.xlsx
