RH/histórico da folha por verbas.xlsx
logística/viagens e CTEs.xlsx
logística/NFs complementares das viagens.xlsx
manutenção/Abastecimentos mai 2022.xlsx
RH/verbas custo MDO.xlsx
logística/CUSTO TMS planilha/provisões.xlsx
logística/CUSTO TMS planilha/pneus.xlsx
logística/CUSTO TMS planilha/manutenção.xlsx
logística/CUSTO TMS planilha/folha.xlsx
logística/CUSTO TMS planilha/diárias.xlsx
logística/CUSTO TMS planilha/depreciação.xlsx
logística/CUSTO TMS planilha/combustível.xlsx
compras/Pedidos de compra 2022 mensal.xlsx
compras/Pedidos de compra 2022 mensal por pedido.xlsx
logística/CUSTO TMS planilha/provisões - Fátima.xlsx
logística/CUSTO TMS planilha/viagens sem receita e sem km.xlsx
logística/base de cálculo seguro de carga clientes safra.xlsx
logística/CUSTO TMS planilha/base de cálculo seguro de carga clientes safra.xlsx
.gitignore
logística/CUSTO TMS planilha/base viagens.xlsx
FAST ANALYTICS/gooddata-custom/log/agent.log
manutenção/Solicitações de serviços externos.xlsx
.gitignore
manutenção/Solicitações de compra de peças.xlsx
logística/CUSTO TMS planilha/viagens com receita.xlsx
.gitignore
logística/CUSTO TMS planilha/rota viagens.xlsx
logística/viagens com operações e receitas.sql
logística/CUSTO TMS planilha/base viagens, receita e rota.xlsx
logística/CUSTO TMS planilha/base viagens, receita e rota - encerradas.xlsx
logística/CUSTO TMS planilha/base viagens, receita e rota - sem final.xlsx
logística/CUSTO TMS planilha/base viagens, receita e rota - não encerradas.xlsx
logística/CUSTO TMS planilha/provisões 2022 06.xlsx
compras/SCs de OS encerradas.xlsx
manutenção/componentes da estrutura dos bens.XLSX
manutenção/modelos e veículos.xlsx
logística/CUSTO TMS planilha/viagens julho 2022.xlsx
RH/relatório de exames.xlsx
.gitignore
logística/CUSTO TMS planilha/diárias julho 2022.xlsx
manutenção/Relatorio Pneus Analise Ernesto Sales.pdf
RH/provisões da folha 202111 a 202206.xlsx
manutenção/processo de pneus.pptx
compras/Pedidos de compra comissões.xlsx
compras/Pedidos de compra Trakkai.xlsx
RH/custo com pessoal - FAT, COM, CTB, GPE.XLSX
manutenção/Abastecimentos 07-2022.xlsx
SUPORTE/demora na carga/consumogerencial.csv
.gitignore
SUPORTE/demora na carga/tabela TQN.XLSX
SUPORTE/demora na carga/tabela ZD3.XLSX
logística/motoristas do TMS.XLSX
manutenção/ATA REUNIÃO DIÁRIA - MANUTENÇÃO.pdf
manutenção/OS abertas Pecém julho.xlsx